SageMaker_Practical_Course_Package/3. Retail Sales Prediction/sales_data_set.csv
SageMaker_Practical_Course_Package/3. Retail Sales Prediction/train.csv
SageMaker_Practical_Course_Package/3. Retail Sales Prediction/validation.csv
SageMaker_Practical_Course_Package/5. Traffic Sign Classification with Deep Learning/data/training.npz
SageMaker_Practical_Course_Package/5. Traffic Sign Classification with Deep Learning/data/validation.npz
SageMaker_Practical_Course_Package/5. Traffic Sign Classification with Deep Learning/test.p
SageMaker_Practical_Course_Package/5. Traffic Sign Classification with Deep Learning/train.p
SageMaker_Practical_Course_Package/5. Traffic Sign Classification with Deep Learning/valid.p